{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section style="display: flex;width:100vw">
        
        <div style="height: 70vh;width:50vw;display:block;margin-left:100px;margin-right:100px">
<h2 style="font-weight: bold;">Hi Raphael,</h2>
<p>We are happy to have you onboarded to Blanc Exchange. To start exploring this platform you need to verify your email </p>
<p style="font-size: 20px;">Your OTP is: <br><br> <h2 style="font-weight: bold;">2345</h2>  <br><br> Kindly use the Pin above to <br> verify your E-mail. This OTP <br> is only valid for next 20 <br> minutes</p>
<p>Please ignore  this email if  you <br> did not request email verification</p>
        </div>

        <div style="width:50vw">
                <img src="{% static './images/myphone.png' %}" style="width:80%;height:90%" alt="">
        </div>
    </section>
    {% endblock content %}
